name: Build & Release Example APK

on:
  push:
    tags: ["v*.*.*"]

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        working-directory: example
        run: flutter pub get

      - name: Build APK (release)
        working-directory: example
        run: flutter build apk --release

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release.apk
          path: example/build/app/outputs/flutter-apk/app-release.apk

      - name: Create Release and upload APK
        uses: softprops/action-gh-release@v2
        with:
          files: example/build/app/outputs/flutter-apk/app-release.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}